#container{
    width: 50%;
    height:300px;
    align-content: center;
    background-color: rgb(185, 130, 185);
     border: 8px dashed rgb(151, 102, 151) ;
}

 h1{
    text-align: center;
    color: aliceblue;
}

div{
    margin: auto;
}

input{
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    width: 48%;
    height: 20px;
}

#word-display{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

button{
    color: aliceblue;
    background-color: rgb(131, 88, 145);
    border: 3px double rgb(185, 130, 185);
    border-radius: 6px;
    transition: 0.3;
    width: 100px;
    height: 25px;
}
