#container{
    width: 50%;
    height: 200px;
    align-content: center;
    background-color: antiquewhite;
}

div{
    margin: auto;
}

input{
    margin-top: 20px;
    margin-left: 45px;
}

#word-display{
    color: rgb(48, 161, 196);
    text-align: center;
}
button{
    background-color: rgb(43, 127, 196);
    border: 1px solid blue;
    border-radius: 6px;
    transition: 0.3;
    width: 100px;
    height: 20px;
}

button:hover{
    background-color: transparent;
    transform: scale(1.2);

}